<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT0KHGbvkANAjSJ3CaqbzHgbUnAA8TIus</string>
	<key>GCM_SENDER_ID</key>
	<string>614490934145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xdyeama.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>mental-health-app-29371</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-app-29371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614490934145:ios:168158dcb6eed15d603680</string>
</dict>
</plist>